<div class="home" id="home">
  <div class="title__wrapper">
    Ninja Run!
  </div>
  <div class="input__container" id="input__wrapper">
    <div class="start__wrapper"></div>
    <input
      type="text"
      class="name__input"
      id="name__input"
      placeholder="Type your name! ex) Naruto"
    />
    <div class="start__wrapper">
      <span class="game__start" id="game__start">Go!</span>
    </div>
  </div>
  <div class="button__container" id="button__container">
    <span class="ranking__button" id="ranking__button">
      Top10
    </span>
  </div>
  <div class="bgm__container">
    <div class="bgm__button" id="bgm__on">
      <i class="fas fa-volume-mute"></i>
    </div>
    <div class="bgm__button" id="bgm__off">
      <i class="fas fa-volume-up"></i>
    </div>
    <audio id="bgm" autoplay />
  </div>
  <div class="score__modal" id="score__modal">
    <div class="score__board" id="score__board">
      <span class="score__board__loading">
        Loading...
      </span>
    </div>
  </div>
  <div class="leaves">
    <div id="leaves">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </div>
  </div>
</div>
